In [1]:
import itertools
import random
import numpy as np
import pandas as pd
from tqdm import tqdm
from collections import defaultdict
from multiprocessing import Pool, cpu_count

import sys
sys.path.append(r"D:\ProyectosGit\IA\Tarea_Final_IA")

from src.controlador_duelos import ControladorDuelos
from src.selectores_de_oponentes import SelectorAllForOne
from src.strategies import SARSA, QLearning, TitForTat, Davis, Downing, Feld, Grofman, SiempreCoopera, SiempreTraiciona
from src.strategies.RL.Estados import StatState, HistoryState, HistoryStatState
from src.strategies.RL.politicas import EpsilonGreedy

In [4]:
from src.rl_tuning.tuning_functions import run_crecimiento_en_paralelo, generate_configs, configs_politicas, run_crecimiento_en_paralelo_politicas

In [3]:
configs = generate_configs()

df_crecimiento = run_crecimiento_en_paralelo(configs, [4,5,6])

Ejecutando 702 experimentos en paralelo...
Usando 6 procesos

100%|██████████████████████████████████████████████████████████████████████████████| 702/702 [2:12:46<00:00, 11.35s/it]

In [19]:
df_crecimiento2 = df_crecimiento.copy()
df_crecimiento2.sort_values(by="id").tail()

,historial,memory,grupos,state_manager,algo,alpha,id,mean_eval 0,exploracion 0,mean_eval 1,...,mean_eval 5,exploracion 5,mean_eval 6,exploracion 6,mean_eval 7,exploracion 7,mean_eval 8,exploracion 8,mean_eval 9,exploracion 9
696,2.0,15.0,5.0,mix,SARSA,0.1,233,1083.4,0.119556,1206.8,...,909.0,0.152889,846.5,0.153778,1088.8,0.155111,914.0,0.159556,529.0,0.168889
698,2.0,15.0,5.0,mix,SARSA,0.1,233,741.2,0.119556,902.0,...,1037.5,0.158667,581.0,0.160000,946.2,0.164000,1003.9,0.164444,665.8,0.164889
700,3.0,15.0,5.0,mix,SARSA,0.1,234,581.0,0.043592,963.9,...,1004.0,0.058367,739.8,0.059347,538.0,0.061469,746.0,0.062694,1194.5,0.063347
699,3.0,15.0,5.0,mix,SARSA,0.1,234,527.0,0.048408,1107.8,...,1038.9,0.058531,579.0,0.061388,997.7,0.061796,1071.0,0.062939,955.0,0.063673
701,3.0,15.0,5.0,mix,SARSA,0.1,234,977.0,0.040490,911.3,...,902.5,0.056816,975.1,0.057633,554.0,0.059184,559.0,0.059837,558.2,0.060245

In [21]:
valores = df_crecimiento2[df_crecimiento2["id"] == 187]["mean_eval 0"].tolist()
valores = valores + valores
valores = np.array(valores)
print(valores)

for id in range (235):
    
    for i in range(10):

[ 900.1 1088.7 1000.2  900.1 1088.7 1000.2]
0
1

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

resultados = []

for id_actual in range(0, 235):

    # Filtrar las 3 filas de esa ID
    df_id = df_crecimiento2[df_crecimiento2["id"] == id_actual]

    if df_id.empty:
        continue

    # Columnas a usar
    columnas_valores = [f"mean_eval {i}" for i in range(10)]

    # Extraer matriz 3x10 → luego a vector 30x1
    valores = df_id[columnas_valores].values.flatten()   # 30 valores

    # Crear X: 0..9 repetidos 3 veces → 30 filas
    X = np.tile(np.arange(10), 3).reshape(-1, 1)

    y = valores

    # Entrenar regresión lineal
    modelo = LinearRegression()
    modelo.fit(X, y)

    # Predicción
    y_pred = modelo.predict(X)

    # Pendiente (crecimiento)
    pendiente = modelo.coef_[0]

    # Error MAE
    mae = mean_absolute_error(y, y_pred)

    # Guardar resultados
    resultados.append({
        "id": id_actual,
        "crecimiento": pendiente,
        "mae": mae
    })

# DataFrame final
df_resultados = pd.DataFrame(resultados)

df_resultados

      id  crecimiento         mae
0      1   -13.988687   54.550249
1      2    -6.331313  142.643003
2      3     5.122020  163.306397
3      4    -3.048485   54.951919
4      5     6.117374  142.409993
..   ...          ...         ...
229  230    -0.959192  113.300741
230  231    14.690101  165.363960
231  232     0.360808  118.598168
232  233   -11.837980  104.083852
233  234    -6.568687  168.101104

[234 rows x 3 columns]

In [46]:
df_resultados.sort_values(by="crecimiento").tail(40)

      id  crecimiento         mae
219  220     7.763636  126.208242
114  115     8.398586  142.679650
55    56     8.447273   83.347030
69    70     8.814141   63.219933
11    12     8.863636  128.734545
149  150     9.063030  156.545010
75    76     9.507677  101.077684
102  103     9.552727  106.674303
10    11     9.701010  126.769589
87    88     9.916162  131.092027
67    68     9.956566   97.435219
183  184    10.187475   95.526451
79    80    10.715556  142.015556
85    86    11.508889   78.933481
70    71    11.548889  102.583852
228  229    11.603030   88.778707
177  178    11.931111  138.740000
203  204    12.246667  144.689333
17    18    12.289091  125.179152
63    64    12.331313   63.782357
157  158    12.568081  107.927152
204  205    13.093737   80.102128
196  197    13.531515  156.393980
193  194    13.580606  109.281818
138  139    13.684040  105.504552
41    42    14.289293   93.546788
159  160    14.289697  134.068768
230  231    14.690101  165.363960
53    54    15.591111  114.471852
122  123    16.071515  163.014909
134  135    16.543030  112.771515
205  206    17.030707  108.216296
130  131    17.160404  152.465360
167  168    17.755960  133.666088
95    96    18.378182  171.241657
185  186    19.854747  139.834088
23    24    20.100808  105.724458
7      8    21.632121  125.504485
201  202    21.651111  106.669481
187  188    29.491313  124.506923

In [53]:
df_crecimiento2[df_crecimiento2["id"] == 188]

,historial,memory,grupos,state_manager,algo,alpha,id,mean_eval 0,exploracion 0,mean_eval 1,...,mean_eval 5,exploracion 5,mean_eval 6,exploracion 6,mean_eval 7,exploracion 7,mean_eval 8,exploracion 8,mean_eval 9,exploracion 9
561,2.0,15.0,3.0,mix,Q,0.1,188,677.7,0.242798,1072.9,...,997.1,0.292181,915.0,0.298354,881.0,0.298354,1257.5,0.298354,1081.4,0.300412
562,2.0,15.0,3.0,mix,Q,0.1,188,1012.4,0.222222,765.0,...,1056.3,0.273663,1180.9,0.275720,936.0,0.294239,930.0,0.294239,997.3,0.294239
563,2.0,15.0,3.0,mix,Q,0.1,188,512.0,0.220165,562.0,...,921.0,0.302469,916.0,0.304527,1073.7,0.304527,1009.1,0.304527,1142.8,0.306584

In [5]:
configs_politica = configs_politicas()

df_politicas = run_crecimiento_en_paralelo_politicas(configs_politica, [7,8,9,10],episodes_train = 400)

Ejecutando 48 experimentos en paralelo...
Usando 6 procesos

100%|██████████████████████████████████████████████████████████████████████████████████| 48/48 [31:34<00:00, 39.47s/it]

In [6]:
df_politicas

,tau,ep_base,ep_fin,politica,id,mean_eval 0,exploracion 0,mean_eval 1,exploracion 1,mean_eval 2,...,mean_eval 5,exploracion 5,mean_eval 6,exploracion 6,mean_eval 7,exploracion 7,mean_eval 8,exploracion 8,mean_eval 9,exploracion 9
0,1.0,NaN,NaN,softmax,1,915.0,0.146091,915.0,0.146091,915.0,...,915.0,0.146091,915.0,0.146091,915.0,0.146091,915.0,0.146091,915.0,0.146091
1,2.0,NaN,NaN,softmax,2,911.0,0.162551,911.0,0.162551,911.0,...,911.0,0.162551,911.0,0.162551,911.0,0.162551,911.0,0.162551,911.0,0.162551
2,1.0,NaN,NaN,softmax,1,913.0,0.106996,913.0,0.106996,913.0,...,913.0,0.106996,913.0,0.106996,913.0,0.106996,913.0,0.106996,913.0,0.106996
3,1.0,NaN,NaN,softmax,1,820.0,0.176955,820.0,0.176955,820.0,...,820.0,0.176955,820.0,0.176955,820.0,0.176955,820.0,0.176955,820.0,0.176955
4,1.0,NaN,NaN,softmax,1,908.0,0.156379,908.0,0.156379,908.0,...,908.0,0.156379,908.0,0.156379,908.0,0.156379,908.0,0.156379,908.0,0.156379
5,2.0,NaN,NaN,softmax,2,579.0,0.164609,579.0,0.164609,579.0,...,579.0,0.164609,579.0,0.164609,579.0,0.164609,579.0,0.164609,579.0,0.164609
6,3.0,NaN,NaN,softmax,3,883.0,0.162551,883.0,0.162551,883.0,...,883.0,0.162551,883.0,0.162551,883.0,0.162551,883.0,0.162551,883.0,0.162551
7,2.0,NaN,NaN,softmax,2,919.0,0.162551,919.0,0.162551,919.0,...,919.0,0.162551,919.0,0.162551,919.0,0.162551,919.0,0.162551,919.0,0.162551
8,2.0,NaN,NaN,softmax,2,937.0,0.187243,937.0,0.197531,937.0,...,937.0,0.209877,937.0,0.209877,937.0,0.209877,937.0,0.209877,937.0,0.209877
9,3.0,NaN,NaN,softmax,3,915.0,0.226337,1029.9,0.226337,915.0,...,887.0,0.232510,915.0,0.232510,895.6,0.232510,915.0,0.232510,915.0,0.232510
10,3.0,NaN,NaN,softmax,3,1079.9,0.174897,936.0,0.174897,936.0,...,936.0,0.174897,887.8,0.174897,936.0,0.174897,1082.6,0.174897,936.0,0.179012
11,3.0,NaN,NaN,softmax,3,957.0,0.179012,931.0,0.199588,957.0,...,931.0,0.209877,931.0,0.209877,931.0,0.213992,931.0,0.216049,931.0,0.216049
12,NaN,0.60,0.3,egreedy,4,856.0,0.271605,916.0,0.275720,913.6,...,910.6,0.314815,823.3,0.318930,1076.7,0.327160,975.6,0.327160,856.0,0.327160
13,NaN,0.60,0.3,egreedy,4,587.0,0.257202,1030.2,0.277778,916.5,...,921.0,0.312757,1110.8,0.333333,1085.2,0.341564,1126.9,0.343621,742.9,0.351852
14,NaN,0.60,0.3,egreedy,4,1046.8,0.263374,925.3,0.292181,719.9,...,883.0,0.331276,1099.1,0.331276,996.4,0.331276,928.0,0.339506,1033.8,0.339506
15,NaN,0.60,0.3,egreedy,4,1113.6,0.259259,931.0,0.277778,927.6,...,865.7,0.310700,916.0,0.318930,1044.3,0.329218,1106.2,0.333333,998.1,0.341564
16,NaN,0.60,0.4,egreedy,5,922.0,0.255144,661.0,0.267490,756.0,...,553.7,0.316872,1061.7,0.318930,1089.9,0.331276,1051.0,0.333333,965.6,0.337449
17,NaN,0.60,0.4,egreedy,5,857.0,0.269547,734.0,0.277778,1072.2,...,583.3,0.304527,823.0,0.312757,1107.1,0.320988,1030.1,0.325103,1057.5,0.329218
18,NaN,0.60,0.4,egreedy,5,1052.1,0.294239,758.0,0.304527,1027.0,...,741.9,0.329218,1151.8,0.335391,930.0,0.339506,1177.5,0.341564,948.5,0.343621
19,NaN,0.60,0.4,egreedy,5,698.1,0.261317,1028.0,0.275720,966.9,...,1212.6,0.316872,942.0,0.323045,933.0,0.323045,562.0,0.325103,954.5,0.341564
20,NaN,0.60,0.5,egreedy,6,559.0,0.265432,642.0,0.277778,844.0,...,988.3,0.327160,915.3,0.327160,1100.8,0.329218,887.0,0.331276,988.6,0.331276
21,NaN,0.60,0.5,egreedy,6,931.0,0.259259,911.0,0.261317,844.0,...,997.3,0.294239,895.0,0.314815,1096.2,0.314815,976.7,0.318930,1182.6,0.327160
22,NaN,0.60,0.5,egreedy,6,964.0,0.230453,859.0,0.281893,899.1,...,611.0,0.308642,992.1,0.312757,908.3,0.320988,626.6,0.320988,1045.7,0.327160
23,NaN,0.60,0.5,egreedy,6,547.0,0.267490,560.0,0.269547,961.8,...,711.3,0.302469,1043.7,0.302469,1004.2,0.304527,649.0,0.320988,874.3,0.323045
24,NaN,0.75,0.3,egreedy,7,596.0,0.257202,802.0,0.279835,1020.5,...,1099.8,0.300412,1196.3,0.300412,713.7,0.323045,735.9,0.329218,919.3,0.333333
25,NaN,0.75,0.3,egreedy,7,889.0,0.269547,917.6,0.279835,535.0,...,916.0,0.308642,1011.2,0.320988,927.0,0.320988,1131.0,0.327160,1065.1,0.343621
26,NaN,0.75,0.3,egreedy,7,721.4,0.246914,607.2,0.248971,1050.2,...,518.0,0.275720,888.0,0.279835,939.0,0.292181,1020.5,0.306584,532.0,0.308642
27,NaN,0.75,0.3,egreedy,7,894.2,0.246914,903.0,0.271605,549.0,...,883.0,0.320988,921.2,0.320988,753.0,0.329218,1052.6,0.345679,554.0,0.349794
28,NaN,0.75,0.4,egreedy,8,755.0,0.257202,1089.0,0.267490,767.6,...,679.9,0.286008,885.0,0.286008,927.0,0.302469,1053.9,0.304527,1087.2,0.306584
29,NaN,0.75,0.4,egreedy,8,532.0,0.253086,1050.1,0.267490,876.0,...,809.0,0.283951,915.0,0.302469,884.9,0.304527,679.6,0.304527,870.0,0.304527
30,NaN,0.75,0.4,egreedy,8,1046.2,0.257202,1022.6,0.259259,877.0,...,1133.5,0.281893,542.4,0.281893,837.0,0.302469,916.0,0.304527,1187.7,0.304527
31,NaN,0.75,0.4,egreedy,8,1232.4,0.255144,1104.8,0.263374,811.0,...,499.1,0.310700,921.6,0.310700,572.0,0.310700,742.0,0.323045,631.0,0.327160
32,NaN,0.75,0.5,egreedy,9,638.0,0.267490,1073.3,0.271605,587.0,...,848.0,0.294239,909.0,0.294239,570.0,0.296296,928.0,0.296296,843.0,0.298354
33,NaN,0.75,0.5,egreedy,9,1060.8,0.232510,921.0,0.248971,848.0,...,1059.1,0.298354,910.0,0.310700,1166.7,0.323045,763.3,0.325103,1084.5,0.333333
34,NaN,0.75,0.5,egreedy,9,924.0,0.246914,1046.0,0.275720,1084.4,...,492.0,0.318930,915.0,0.318930,914.0,0.318930,727.7,0.323045,784.7,0.333333
35,NaN,0.75,0.5,egreedy,9,926.0,0.261317,946.8,0.279835,503.0,...,1066.6,0.288066,877.0,0.298354,1093.3,0.298354,921.0,0.304527,989.8,0.304527
36,NaN,0.90,0.3,egreedy,10,736.1,0.263374,915.0,0.267490,1057.7,...,791.0,0.292181,1044.9,0.292181,1073.2,0.292181,1338.7,0.300412,718.6,0.300412
37,NaN,0.90,0.3,egreedy,10,947.6,0.246914,940.0,0.255144,1110.6,...,1069.0,0.281893,1001.6,0.286008,855.0,0.286008,874.0,0.286008,910.0,0.300412
38,NaN,0.90,0.3,egreedy,10,1099.2,0.275720,861.0,0.279835,1216.8,...,821.0,0.286008,1131.6,0.286008,894.0,0.288066,927.3,0.294239,771.0,0.298354
39,NaN,0.90,0.3,egreedy,10,914.0,0.255144,502.0,0.259259,571.0,...,1000.2,0.263374,597.0,0.263374,1049.4,0.267490,1137.9,0.269547,1242.0,0.294239
40,NaN,0.90,0.4,egreedy,11,928.9,0.238683,915.0,0.267490,915.0,...,546.0,0.267490,948.0,0.267490,585.0,0.302469,590.0,0.308642,573.0,0.308642
41,NaN,0.90,0.4,egreedy,11,906.0,0.253086,874.0,0.271605,884.0,...,1015.8,0.290123,1011.3,0.296296,964.3,0.296296,878.0,0.296296,739.7,0.298354
42,NaN,0.90,0.4,egreedy,11,1082.5,0.228395,842.0,0.255144,579.0,...,695.1,0.271605,915.0,0.271605,915.0,0.271605,1155.6,0.292181,889.0,0.294239
43,NaN,0.90,0.4,egreedy,11,910.0,0.271605,852.0,0.277778,1019.5,...,1075.3,0.292181,915.0,0.296296,816.0,0.296296,638.1,0.296296,1146.5,0.296296
44,NaN,0.90,0.5,egreedy,12,907.0,0.259259,530.0,0.269547,934.2,...,680.4,0.275720,1157.3,0.275720,915.0,0.275720,852.0,0.275720,999.9,0.292181
45,NaN,0.90,0.5,egreedy,12,1265.6,0.263374,579.0,0.269547,1066.2,...,1080.1,0.273663,922.0,0.288066,709.3,0.288066,913.0,0.292181,743.3,0.314815
46,NaN,0.90,0.5,egreedy,12,701.2,0.236626,583.0,0.257202,1116.9,...,915.0,0.269547,1010.5,0.269547,1178.3,0.269547,1007.7,0.271605,1083.7,0.271605
47,NaN,0.90,0.5,egreedy,12,869.0,0.224280,563.5,0.244856,1059.4,...,1201.2,0.286008,818.6,0.286008,911.7,0.286008,1100.9,0.300412,1092.8,0.300412

In [3]:
configs = generate_configs()

df = run_experiments(configs, [1,2,3])

configs: 100%|███████████████████████████████████████████████████████████████████████| 72/72 [1:18:00<00:00, 65.00s/it]

In [5]:
df.to_csv("Tuneo.csv")

In [11]:
df_copy = df.copy()
df_copy

,historial,memory,grupos,state_manager,algo,alpha,seed,train_mean,train_std,eval_mean,eval_std,eval_median,eval_p25,eval_p75,p_explorado
0,3.0,NaN,NaN,history,Q,0.01,1,803.2180,164.068475,929.00,0.000000,929.0,929.0,929.0,0.714286
1,3.0,NaN,NaN,history,Q,0.01,2,786.3495,157.368746,914.00,0.000000,914.0,914.0,914.0,0.734694
2,3.0,NaN,NaN,history,Q,0.01,3,797.0880,162.773712,920.00,0.000000,920.0,920.0,920.0,0.724490
3,3.0,NaN,NaN,history,Q,0.05,1,826.6775,170.177770,1084.14,8.414297,1084.0,1078.0,1091.5,0.704082
4,3.0,NaN,NaN,history,Q,0.05,2,825.8395,172.319572,858.00,0.000000,858.0,858.0,858.0,0.734694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,NaN,15.0,5.0,stats_summary,SARSA,0.05,2,805.5040,165.610178,916.00,0.000000,916.0,916.0,916.0,0.560000
212,NaN,15.0,5.0,stats_summary,SARSA,0.05,3,809.0200,168.277713,916.00,0.000000,916.0,916.0,916.0,0.536000
213,NaN,15.0,5.0,stats_summary,SARSA,0.10,1,825.1100,172.498794,916.00,0.000000,916.0,916.0,916.0,0.544000
214,NaN,15.0,5.0,stats_summary,SARSA,0.10,2,824.3145,173.662444,916.00,0.000000,916.0,916.0,916.0,0.552000
215,NaN,15.0,5.0,stats_summary,SARSA,0.10,3,824.4735,173.294438,1015.52,6.472218,1016.0,1012.0,1021.0,0.568000

In [8]:
df_copy = summarize_results(df_copy)